@import "primeicons/primeicons.css";
@import "tailwindcss";

@plugin "tailwindcss-primeui";

@custom-variant dark {
	&:where([data-theme='dark'], [data-theme='dark'] *) {
		@slot;
	}

	@media (prefers-color-scheme: dark) {
		&:where([data-theme='system'], [data-theme='system'] *) {
			@slot;
		}
	}
}


[data-theme='dark'] {
	color-scheme: dark;
}

[data-theme='light'] {
	color-scheme: light;
}

[data-theme='system'] {
	color-scheme: light dark;
}